/* CSS Document */
html {
	font-family: Tahoma, sans-serif;
	background: #e2e2e2;
	text-align: center;
}

a {
	text-decoration: none;
	color: #de1717;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

a:hover {
	color: blue;
}