<footer class="main-footer">
  <div class="copyright">
    <p>Copyright &copy; {{site.time | date: '%Y'}} by Tien Minh Vy - All Right Reserved</p>
    <div><p>Bản quyền và bảo vệ bởi</p> <a href="//www.dmca.com/Protection/Status.aspx?ID=7db807cd-30a5-47b4-bc15-fd12d294c255" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_16_120.png?ID=7db807cd-30a5-47b4-bc15-fd12d294c255"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script></div>
  </div>
</footer> <!-- End Footer -->
